@font-face {
  font-family: "Fortnite";
  src: url("../assets/Fortnite.ttf");
}

:root {
  --beige: #ffead2;
  --beige-2: #ffe4c9;
  --beige-3: #f3ebdf;

  --blue-1: #dbdfea;
  --blue-2: #acb1d6;
  --blue-3: #8294c4;
  --blue-4: #265073;

  --grey: #c7c8cc;
}

.game-container {
  color: var(--blue-4);
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  flex-wrap: wrap;
  gap: 1.1rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.score {
  background-color: var(--beige);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--blue-3);
  box-shadow: calc(0.2rem * 1.5) calc(0.2rem * 1.5) var(--blue-4);
  text-shadow: 1px 1px 0px var(--blue-2), 3px 3px 0px rgba(0, 0, 0, 0.25);
}
